body {
    background-color: gainsboro;
}

.game-panel {
    width: 800px;
    height: 600px;
    overflow: hidden;
    display: block;
    clear: both;
    box-shadow: 0 0 15px black;
    margin: 80px auto 0 auto;
    border-radius: 10px;
    position: relative;
    z-index: 10;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

